# IDE files
.classpath
.metadata/
.settings/
RemoteSystemsTempFiles/
Servers/
.recommenders/
*.iml
.idea/

# Eclipse / Java build
target/

# Checkstyle
limbo_checkstyle.out.xml

# Project specific
interfaces/tools.descartes.teastore.entities/.classpath

# Frontend / tests
e2e-tests/node_modules/
e2e-tests/cypress/videos/
e2e-tests/cypress/screenshots/

# Petstore test
services/tools.descartes.petstore.image/test/
